/* 初次出场动画 fade-appear fade-appear-active 
非初次出场动画（二次进入动画） fade-enter fade-enter-active fade-enter-done
退出动画 fade-exit fade-exit-active fade-exit-done */

.fade-enter,
.fade-appear {
    opacity: 0;
}

.fade-enter-active,
.fade-appear-active {
    opacity: 1;
    transition: opacity 1s ease-in;
}

.fade-enter-done {
    opacity: 1;
}

.fade-exit {
    opacity: 1;
}

.fade-exit-active {
    opacity: 0;
    transition: opacity 1s ease-in;
}

.fade-exit-done {
    opacity: 0;
}


/* 用css实现动画 */


/* .show {
    opacity: 1;
    animation: show-item 2s ease-in;
}

.hide {
    opacity: 0;
    animation: hide-item 2s ease-in forwards;
}

@keyframes show-item {
    0% {
        opacity: 0;
        color: blue;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 1;
        color: red;
    }
}

@keyframes hide-item {
    0% {
        opacity: 1;
        color: red;
    }
    50% {
        opacity: 0.5;
        color: green;
    }
    100% {
        opacity: 0;
        color: blue;
    }
} */